{
	"login": "myUsername",
	"password": "myPassword",
	"hostname": "intra.epitech.eu",
	"path": "/?format=json",
	"slackHookUrl" : "https://hooks.slack.com/services/....",
	"slackHookName" : "intranet-notification"
}
